@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}

img{
    width: 100%;
    height: 100%;
}
.announcement-slider {
  background-color: black;
  color: white;
  font-size: 1.2rem;
  height: 40px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.announcement-slide {
  margin-right: 30px;
  animation: slide 10s infinite;
}

.announcement-slide:last-child {
  margin-right: 0;
}

.announcement-text {
  display: inline-block;
  white-space: nowrap;
  padding-left: 100%;
  animation: slide-text 10s infinite;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes slide-text {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

  




.nav-container{
    width: 100%;
    height: 110px;
    background: linear-gradient(35deg,rgba(0,0,0,.1),rgba(0,0,0,.1));
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    z-index: 1;
    position: absolute;
}
.nav-container .logo{
    width: 80px;

    mix-blend-mode:multiply;
}

.nav-container .logo img{
    width: 140px;
    border-radius: 50%;
}

.hamburger{
    display: none;
}

.nav-bar ul{
    display: flex;
}

.nav-bar ul li a{
    display: block;
    color: black;
    font-size: 15px;
    padding: 10px 25px;
    border-radius: 25px;
    transition: .5s;
    margin: 0 10px;
}

.nav-bar ul li a:hover{
    color: black;
    background: white;
}

/* styling for the clothing section */

.clothing-section {
    background-color: white;
    padding: 50px;
    text-align: center;
    
  }
  
  .clothing-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
    margin-top: 110px;
  }
  
  .clothing-section p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .button {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #555;
  }
  /* Product section styles */
/* .new-arrivals {
  margin: 50px auto;
  max-width: 1200px;
}

.new-arrivals h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.products-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product {
  position: relative;
  width: 32%;
  margin-bottom: 30px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.product-image {
  position: relative;
  overflow: hidden;
}

.product-image img {
  display: block;
  width: 100%;
  height: auto;
  transition: all 0.3s ease;
}

.product-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  transition: all 0.3s ease;
}

.product:hover .product-image img {
  transform: scale(1.1);
}

.product:hover .product-overlay {
  opacity: 1;
}

.product-overlay button {
  background-color: #f06d87;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}

.product-overlay button:hover {
  background-color: #fff;
  color: #f06d87;
}

/* Product details styles */
.product-details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px 20px;
  text-align: center;
  color: #fff;
  opacity: 0;
  transition: all 0.3s ease;
}

.product:hover .product-details {
  opacity: 1;
}

.product-name {
  font-size: 1.2rem;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: bold;
}

.product-price {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
} */

  /* .new-arrivals {
    background-color: #f8f8f8;
    padding: 60px 0;
  }
  
  .new-arrivals h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
  }
  
  .products-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .product {
    position: relative;
    width: calc(35% - 20px);
    max-width: 300px;
    transition: transform 0.3s ease;
  }
  
  @media only screen and (max-width: 992px) {
    .product {
      width: calc(33.33% - 20px);
    }
  }
  
  @media only screen and (max-width: 768px) {
    .product {
      width: calc(50% - 20px);
    }
  }
  
  @media only screen and (max-width: 576px) {
    .product {
      width: 100%;
    }
  }
  
  .product-image {
    overflow: hidden;
    position: relative;
    height: 450px;
    padding: 20px;
  }
  
  .product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  .product-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .product:hover .product-image img {
    transform: scale(1.1);
  }
  
  .product:hover .product-overlay {
    opacity: 1;
  }
  
  .btn {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 0;
    padding: 15px 30px;
    transition: background-color 0.3s ease;
  }
  
  .btn-primary {
    color: #fff;
    background-color: #ffbe;
  }
  
  .product-details {
    text-align: center;
    margin-top: 10px;
  }
  
  .product-name {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }
  
  .product-price {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    color: #f06d87;
    margin-bottom: 15px;
    font-weight: 600;
  }
  
  .product-price:before {
    content: "$";
    margin-right: 2px;
  } */

  .new-arrivals {
    background: linear-gradient(35deg,rgba(0,0,0,.1),rgba(0,0,0,.1));
    padding: 50px;
  }
  .new-arrivals h2{
    text-align: center;
  }
  
  .products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    
  }
  h3{
    color: black;
  }
  
  .product {
    margin: 20px;
    border: 1px solid #ddd;
    position: relative;
    transition: all 0.3s ease;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    border-radius: 4px;
    
  }
  
  .product:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transform: translateY(-5px);
  }
  
  /* .product-image {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
  }
  
  .product-image img {
    display: block;
    width: 100%;
    height: auto;
  }
   */
   .new-arrivals {
    margin-bottom: 110px;
  }
  .products-container {
    height: 500px; /* adjust this value as needed */
    overflow: auto;
  }
  
   .product-image {
    height: 300px;
    width: 300px;
    position: relative;
  }
  .product-image img {
    width: 100%; /* make the image take the full width of the container */
    height: auto; /* allow the height to adjust proportionally */
    object-fit: cover; /* make the image fit the container while maintaining aspect ratio */
  }
  .product-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.8);
    border-radius: 4px;
    }
    
    .product:hover .product-overlay {
    opacity: 1;
    }
    
    .product-overlay button {
    background-color: #fff;
    color: #333;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
    }
    
    .product-overlay button:hover {
    background-color: #333;
    color: #fff;
    }
    
    .product-details {
    padding: 10px;
    text-align: center;
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    }
    
    .product-details h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    }
    
    .product-details p {
    margin: 10px 0 0 0;
    font-size: 14px;
    color: #999;
    text-transform: uppercase;
    }


    
    /* @media (max-width: 768px) {
    .new-arrivals {
    padding: 30px;
    }
    .product {
    width: 45%;
    margin-right: 110px;
    margin-bottom: 110px;
    }
    .products-container{
      margin-top: 120px;
    }
    } */
    @media (max-width: 768px) {
      .new-arrivals {
        padding: 30px;
        margin-bottom: 100px; /* Add margin to bottom to avoid overlap with footer */
      }
      .product {
        width: 45%;
        margin-right: 0; /* Remove margin-right to avoid overlapping products */
        margin-bottom: 30px; /* Reduce margin-bottom for better spacing */
      }
      .product-details {
        text-align: center; /* Center product name and price */
      }
      .product-details h3 {
        font-size: 18px; /* Reduce font size for better fit */
      }
      .product-image {
        position: relative; /* Set position to relative to enable absolute positioning of overlay */
        width: 100%; /* Set width to 100% to ensure image scales properly */
      }
      .product-overlay {
        position: absolute; /* Set position to absolute to overlay button */
        top: 50%; /* Position button in center */
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0; /* Set opacity to 0 initially */
        transition: opacity 0.3s ease; /* Add transition effect */
      }
      .product:hover .product-overlay {
        opacity: 1; /* Set opacity to 1 on hover to show button */
      }
      .btn-primary {
        font-size: 14px; /* Reduce font size for better fit */
      }
    }

    @media (max-width: 1024px) {
      .new-arrivals {
        padding: 30px;
        margin-bottom: 100px; /* Add margin to bottom to avoid overlap with footer */
      }
      .product {
        width: 45%;
        margin-right: 0; /* Remove margin-right to avoid overlapping products */
        margin-bottom: 30px; /* Reduce margin-bottom for better spacing */
        padding: 30px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add box-shadow to cover image and provide depth */
      }
      .product-details {
        text-align: center; /* Center product name and price */
      }
      .product-details h3 {
        font-size: 18px; /* Reduce font size for better fit */
      }
      .product-image {
        position: relative; /* Set position to relative to enable absolute positioning of overlay */
        width: 100%; /* Set width to 100% to ensure image scales properly */
        height: 300px;
        overflow: hidden;
        
      }
      .product-overlay {
        position: absolute; /* Set position to absolute to overlay button */
        top: 50%; /* Position button in center */
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0; /* Set opacity to 0 initially */
        transition: opacity 0.3s ease; /* Add transition effect */
      }
      .product:hover .product-overlay {
        opacity: 1; /* Set opacity to 1 on hover to show button */
      }
      .btn-primary {
        font-size: 14px; /* Reduce font size for better fit */
      }
    }
    

    footer {
      background-color: #232323;
      color: #fff;
      font-size: 14px;
      padding: 60px 0;
    }
    /* @media (min-width: 768px) and (max-width: 1024px) {
      .new-arrivals {
        padding: 50px 30px;
        margin-bottom: 100px;
      }
      .product {
        width: calc(50% - 20px);
        margin-bottom: 40px;
        margin-right: 40px;
      }
      .product:nth-child(2n) {
        margin-right: 0;
      }
      .products-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      .product-details {
        text-align: center;
      }
      .product-details h3 {
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 10px;
      }
      .product-details p {
        font-size: 16px;
        margin-bottom: 20px;
      }
      .product-image {
        height: 300px;
        overflow: hidden;
        position: relative;
      }
      .product-image img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
      .product-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 40%;
        background-color: rgba(255, 255, 255, 0.8);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.3s ease;
      }
      .product-overlay:hover {
        opacity: 1;
      }
      .btn-primary {
        padding: 10px 20px;
        font-size: 16px;
        text-transform: uppercase;
        background-color: #1c1c1c;
        color: #fff;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
      .btn-primary:hover {
        background-color: #232323;
      }
    } */
    
    .footer-top h4 {
      color: #fff;
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 30px;
      text-transform: uppercase;
    }
    
    .footer-top p {
      color: #c7c7c7;
      line-height: 1.8;
      margin-bottom: 30px;
    }
    
    .footer-post-list {
      list-style: none;
      padding-left: 0;
    }
    
    .footer-post-list li {
      margin-bottom: 10px;
    }
    
    .footer-post-list li a {
      color: #fff;
      text-decoration: none;
      transition: all 0.3s ease;
    }
    
    .footer-post-list li a:hover {
      color: #c7c7c7;
    }
    
    .contact-info-list {
      list-style: none;
      padding-left: 0;
    }
    
    .contact-info-list li {
      color: #c7c7c7;
      margin-bottom: 10px;
    }
    
    .contact-info-list li i {
      margin-right: 10px;
    }
    
    .contact-info-list li a
    {
      color: #c7c7c7;
      text-decoration: none;
      transition: all 0.3s ease;
      }
      
      .contact-info-list li a:hover {
      color: #fff;
      }
      
      .footer-social-list {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
      }
      
      .footer-social-list li {
      margin-right: 10px;
      }
      
      .footer-social-list li a {
      display: block;
      color: #fff;
      background-color: #3b5998;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      border-radius: 50%;
      transition: all 0.3s ease;
      }
      
      .footer-social-list li a:hover {
      background-color: #fff;
      color: #3b5998;
      }
      footer {
        background-color: #232323;
        color: #fff;
        font-size: 14px;
        padding: 60px 0;
      }
      
      .footer-top h4 {
        color: #fff;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 30px;
        text-transform: uppercase;
      }
      
      .footer-top p {
        color: #c7c7c7;
        line-height: 1.8;
        margin-bottom: 30px;
      }
      
      .footer-post-list {
        list-style: none;
        padding-left: 0;
      }
      
      .footer-post-list li {
        margin-bottom: 10px;
      }
      
      .footer-post-list li a {
        color: #fff;
        text-decoration: none;
        transition: all 0.3s ease;
      }
      
      .footer-post-list li a:hover {
        color: #c7c7c7;
      }
      
      .contact-info-list {
        list-style: none;
        padding-left: 0;
      }
      
      .contact-info-list li {
        color: #c7c7c7;
        margin-bottom: 10px;
      }
      
      .contact-info-list li i {
        margin-right: 10px;
        font-size: 20px;
      }
      
      .contact-info-list li a {
        color: #c7c7c7;
        text-decoration: none;
        transition: all 0.3s ease;
      }
      
      .contact-info-list li a:hover {
        color: #fff;
      }
      
      .footer-social-icons {
        display: flex;
        justify-content: center;
        margin-top: 30px;
      }
      
      .footer-social-icons a {
        display: inline-block;
        margin-right: 15px;
        color: #fff;
        font-size: 20px;
        transition: all 0.3s ease;
      }
      
      .footer-social-icons a:hover {
        color: #c7c7c7;
        transform: translateY(-5px);
      }
      
      .footer-bottom {
        background-color: #1c1c1c;
        text-align: center;
        padding: 20px 0;
      }
      
      .footer-bottom p {
        margin: 0;
        font-size: 14px;
        color: #fff;
      }
      
      .footer-bottom a {
        color: #c7c7c7;
        text-decoration: none;
        transition: all 0.3s ease;
      }
      
      .footer-bottom a:hover {
        color: #fff;
      }
      .social-media-list {
        display: flex;
        justify-content: center;
        margin-top: 10px;
      }
      
      .social-media-list li {
        margin: 0 10px;
      }
      
      @media screen and (max-width: 768px) {
      .footer-top {
      text-align: center;
      }
      
      .footer-top h4 {
      font-size: 24px;
      }
      }
    
 
  @media(max-width: 755px){
    .nav-bar ul li a{
        display: block;
        color: white;
        font-size: 15px;
        padding: 10px 25px;
        border-radius: 25px;
        transition: .5s;
        margin: 0 10px;
    }
}



@media (max-width: 900px) {
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .hamburger .line{
        width: 30px;
        height: 3px;
        background: rgb(255, 255, 255);
        margin: 6px 0;
    }
    .nav-bar{
        height: 0;
        position: absolute;
        top: 110px;
        right: 0;
        left: 0;
        width: 100%;
        background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.3),rgba(31, 13, 13, 0.3));
        transition: .5s;
        overflow: hidden;
    }
    .nav-bar.active{
        height: 250px;
        background-color: #fff;
    }

    .nav-bar ul{
        display: block;
        margin: 21px auto 0 auto;
        text-align: center;
        transition: .5s;
        opacity: 0;
    }
    .nav-bar.active ul{
        opacity: 1;
    }
    
    .nav-bar ul li a{
        margin-bottom: 12px;
    }
}